@use "@/styles/mixins/mediaQueries.scss";

.feature_panel_primary {
  @include mediaQueries.medium-screen {
    grid-area: 1 / 1 / 2 / 3;
  }

  @include mediaQueries.small-desktop {
    grid-area: 1 / 1 / 3 / 9;
  }
  @include mediaQueries.extra-large-screen {
    grid-area: 1 / 1 / 3 / 12;
  }
}

.feature_panel_secondary {
  background-color: rgb(1, 1, 174);

  @include mediaQueries.medium-screen {
    grid-area: 2 / 1 / 3 / 3;
  }

  @include mediaQueries.small-desktop {
    grid-area: 1 / 9 / 3 / 13;
  }
  @include mediaQueries.extra-large-screen {
    grid-area: 1 / 12 / 3 / 18;
  }
}

// .feature_panel_secondary {
// }
