@use "@/styles/mixins/layoutMixins.scss";

.navbar {
  border-bottom: solid 2px red;
  padding: 1rem 0;

  &_container {
    @include layoutMixins.page_width;
    justify-content: space-between;
  }

  &_menu {
    width: min(30rem, 60%);
    justify-content: space-between;
  }
}
