@use "@/styles/mixins/images.scss";

.container {
  height: 100%;
  position: relative;
}

.bgImage {
  z-index: 0;
  @include images.background_image;
}

.text_wrapper {
  border: 2px solid orange;
  position: relative;
  z-index: 1;
}
