@use "@/styles/mixins/mediaQueries.scss";
@use "@/styles/variables.scss";
@use "@/styles/mixins/layoutMixins.scss";

.flex {
  display: flex;

  &_column {
    flex-direction: column;
  }

  &_row {
    flex-direction: row;
  }

  &_center {
    justify-content: center;
    align-items: center;
  }
}

.grid {
  display: grid;

  &_page_container {
    @include layoutMixins.page_grid_columns;
    grid-template-rows: repeat(3, 1fr);
  }
}

.window_container {
  width: 100%;
}

.page_container {
  position: relative;
  height: calc(100dvh - variables.$size-38);
  background-color: darkgreen;
  padding-inline: auto;

  @include layoutMixins.page_width;
}

.feature_wrapper {
  outline: 2px solid white;
  @include layoutMixins.page_grid_columns;
  grid-template-rows: 60dvh 40dvh;
}

.product_card_wrapper {
  min-height: 18rem;
  outline: 2px solid blue;
}

.specials_wrapper {
  min-height: 18rem;
}

.footer {
  min-height: 25rem;
}
