@use "@/styles/mixins/mediaQueries.scss";
@use "@/styles/variables.scss";
@use "@/styles/mixins/layoutMixins.scss";

.flex {
  display: flex;

  &_column {
    flex-direction: column;
  }

  &_row {
    flex-direction: row;
  }

  &_center {
    justify-content: center;
    align-items: center;
  }
}

.grid {
  display: grid;

  &_page_container {
    @include layoutMixins.page_grid_columns;
    grid-template-rows: 100dvh repeat(2, 20rem);

    @include mediaQueries.desktop {
      grid-template-rows: 100dvh 35rem repeat(2, 20rem);
    }
  }
}

.window_container {
  height: 100vh;
  overflow: scroll;
}

.page_container {
  // background-color: darkgreen;
  outline: 2px solid white;
  @include layoutMixins.page_width;
}

.feature_wrapper {
  background-color: rgb(1, 1, 174);
  @include layoutMixins.page_grid_columns;
  grid-template-rows: 60dvh 40dvh;

  @include mediaQueries.tablet {
    grid-area: 1 / 1 / 2 / 3;
  }

  @include mediaQueries.desktop {
    grid-template-rows: repeat(2, 50dvh);
    grid-area: 1 / 1 / 2 / 13;
  }
}

.product_card_wrapper {
  background: purple;
  @include mediaQueries.tablet {
    grid-area: 2 / 1 / 3 / 3;
  }
}

.specials_wrapper {
  background: orange;
  @include mediaQueries.tablet {
    grid-area: 3 / 1 / 4 / 3;
  }
}

.footer {
  min-height: 20rem;
  @include layoutMixins.page_width;
}
