// colors
$clr-neutral-100: rgb(233, 233, 233);
$clr-neutral-900: rgb(28, 28, 28);
$clr-primary-100: rgb(205, 117, 227);
$clr-bold-100: rgb(87, 234, 143);

// opacity
$op-half: 0.5;

// font-families
$ff-sans: "Open Sans", sans-serif;

// padding
$padding-1: 0.2rem;
$padding-2: 0.5rem;
$padding-3: 0.75rem;
$padding-4: 1.5rem;
$padding-5: 3rem;

// border-radius
$br-1: 10px;
$br-2: 15px;

// font-sizes
$fs-900: 3.75rem; // 60px
$fs-800: 3rem; // 48px
$fs-600: 1.5rem; // 24px
$fs-500: 1.3125rem; // 21px
$fs-400: 1.125rem; // 18px

// font-weights
$fw-400: 400;
$fw-700: 700;

// size/spacing values (Including the border-width)
$size-8: 0.5rem;
$size-12: 0.75rem; // (not in design)
$size-16: 1rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-32: 2rem;
$size-36: 2.25rem;
$size-38: 3rem; // nav height
